.radio, .checkbox {
    display: inline-block;
    margin: 0 5px 3px 0 !important;
    padding-left: 27px;
    font-size: 12px !important;
    line-height: 27px;
    color: #404040;
    cursor: pointer;
}