<div class="panel panel-default">
  <div class="panel-heading">
      <ul class="options pull-left relative list-unstyled">
        <li>
          <a class="btn btn-default btn-sm white" (click)="setting.GoBack()">
            <i class="fa fa-arrow-left"></i>Back
          </a>
        </li>
          <li (click)="update()">
            <a  class="btn btn-primary btn-sm white">
              <i class="fa fa-plus"></i> Update</a>
          </li>
          <li (click)="DeleteData()">
            <a class="btn btn-danger btn-sm white">
              <i class="fa fa-times"></i> Delete</a>
          </li>
      
        <li>
          <button data-toggle="modal" data-target=".reset-password" kendoButton [primary]="true">Rest Password</button>
        </li>
        </ul>
  </div>
</div>

<div class="panel panel-default">
  
  <div class="panel-body" *ngIf="User">
    <div class="row">
      <div class="col-md-8 ">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
            <div class="form-group row">
              <div class="col-md-2 col-xs-3 padding-col">
                <label for="username">User Name</label>
              </div>
              <div class="col-md-10 col-xs-9">
                <input type="text" class="form-control" id="username" placeholder="User Name" [(ngModel)]="User.UserName" readonly>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-sm-12">
            <div class="form-group row">
              <div class="col-md-2 col-xs-3 padding-col">
                <label for="firstName">First Name</label>
              </div>
              <div class="col-md-10 col-xs-9">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" [(ngModel)]="User.FirstName">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-sm-12">
            <div class="form-group row">
              <div class="col-md-2 col-xs-3 padding-col">
                <label for="lastName">Last Name</label>
              </div>
              <div class="col-md-10 col-xs-9">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" [(ngModel)]="User.LastName">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-sm-12">
            <div class="form-group row">
              <div class="col-md-2 col-xs-3 padding-col">
                <label for="email">Email Address</label>
              </div>
              <div class="col-md-10 col-xs-9">
                  <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="User.EmailValidation">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-sm-12">

            <div class="form-group row">

              <div class="col-md-6 padding-col">
               <label class="col-md-4 ">
                  Disabled
               </label>
                <label class="checkbox col-md-8">
                    <kendo-switch [(ngModel)]="User.IsDisabled"></kendo-switch>
                </label>
              </div>

              <div class="col-md-6 padding-col">
                  <label class="col-md-4 ">
                      Customer
                   </label>
                    <label class="checkbox col-md-8">
                    <kendo-switch [(ngModel)]="User.IsCustomer"></kendo-switch>
                  
                </label>
              </div>
            </div>
            <div class="form-group row">

              <div class="col-md-6 padding-col">
                  <label class="col-md-4 ">
                      Vendor
                   </label>
                    <label class="checkbox col-md-8">
                    <kendo-switch [(ngModel)]="User.IsVendor"></kendo-switch>
                   
                </label>
              </div>

              <div class="col-md-6 padding-col">
                  <label class="col-md-4 ">
                      Debtor
                   </label>
                    <label class="checkbox col-md-8">
                    <kendo-switch [(ngModel)]="User.IsDebtor"></kendo-switch>
                   
                </label>
              </div>
            </div>
            <div class="form-group row">

              <div class="col-md-6 padding-col">
                  <label class="col-md-4 ">
                      Partner
                   </label>
                    <label class="checkbox col-md-8">
                    <kendo-switch [(ngModel)]="User.IsPartner"></kendo-switch>
                   
                </label>
              </div>


              <div class="col-md-6 padding-col">
                  <label class="col-md-4 ">
                      Agent
                   </label>
                    <label class="checkbox col-md-8">
                    <kendo-switch [(ngModel)]="User.IsAgent"></kendo-switch>
                   
                </label>
              </div>
                <div class="col-md-6 padding-col">
                    <label class="col-md-4">
                        Client
                     </label>
                      <label class="checkbox col-md-8">
                        <kendo-switch [(ngModel)]="User.IsClient"></kendo-switch>
                         
                    </label>
                </div>
                <div class="col-md-6 padding-col">
                    <label class="col-md-4">
                        Employee
                     </label>
                      <label class="checkbox col-md-8">
                        <kendo-switch [(ngModel)]="User.IsEmployee"></kendo-switch>
                         
                    </label>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="id-info">

          <div class="col-12 col-md-12 col-sm-12 upload-img ">
            <div class="col-md-12 ">
              <img *ngIf="User.PhotoExtension !== null" class="img-profile-edit d-block mx-auto" [src]="'../assets/img/Users/'+ User.UserName?.trim() + '.' + User.PhotoExtension"/>
              <img *ngIf="User.PhotoExtension == null" class="img-profile-edit d-block mx-auto" src="../assets/img/Users/avatar.jpg"/>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade reset-password" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- header modal -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">Reset Password</h4>
      </div>
      <!-- body modal -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
          
            <div class="col-12 col-md-12 col-sm-12">  
              <div class="form-group row">
                <div class="col-3 col-md-4 col-xs-3 padding-col">
                  <label for="password">New Password</label>
                </div>
                <div class="col-9 col-md-8 col-xs-9  ">
                  <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="User.NewUserPassword" />
                </div>
              </div>
            </div>
            <a class="btn btn-success btn-sm white pull-right" (click)="ChangePassword()">
              <i class="fa fa-plus"></i>Save</a>
              <span class="clearfix"></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
