<div class="panel panel-default nomargin">

  <div class="panel-heading nopadding-x">
    <!-- right options -->
    <ul class="options pull-right list-inline row">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group mb-2 mb-sm-0">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-addon" >
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <button routerLink="/create_replacement" kendoButton>add</button>
        </div>
      </div>
    </ul>


  </div>
</div>
