<div class="panel panel-default margin-bottom-0 small-panel">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>Back
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default small-panel">
  <div class="panel-body">
     <h3 style="text-align: center; color: #292929">Call The administrator please</h3>
  </div>
</div>
