<div class="panel panel-default small-panel">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>Back</a>
      </li>

      <li (click)="UpdateDebtorGroup()">
        <a class="btn btn-primary btn-sm white">
          <i class="fa fa-plus"></i>update</a>
      </li>

      <li (click)="goBack()">
        <a class="btn btn-danger btn-sm white">
          <i class="fa fa-times"></i> Cancel</a>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default small-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-4 col-xs-3 padding-col">
            <label for="GroupName">Debtor Group Name</label>
          </div>
          <div class=" col-md-8 col-xs-9  ">
            <input id="GroupName" type="text" class="form-control" placeholder="Debtor Group Name" [(ngModel)]="GroupName">
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
