
<div class="panel panel-default small-panel">

  <div class="panel-heading">

    
    <!-- right options -->
    <ul class="options pull-right list-inline">
        <li>
          <a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a>
        </li>
        <li>
          <a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen">
            <i class="fa fa-expand"></i>
          </a>
        </li>
      </ul>
      <ul class="options pull-left relative list-unstyled">
        <li (click)="update()">
          <a class="btn btn-success btn-sm white">
            <i class="fa fa-plus"></i>Save</a>
        </li>
        <li>
          <a class="btn btn-danger btn-sm white">
            <i class="fa fa-times"></i> Cancel</a>
        </li>
      </ul>
      <!-- /right options -->
  


  </div>
  <div class="panel-body">
      <form>
        <div class="col-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-3 col-md-3 col-xs-3 ">
              <label for="username">User Name</label>
            </div>
            <div class="col-9 col-md-9 col-xs-9  ">
              <input type="text" class="form-control" id="username" placeholder="User Name" [(ngModel)]="userName" name="username">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-3 col-md-3 col-xs-3 ">
              <label for="password">Password</label>
            </div>
            <div class="col-9 col-md-9 col-xs-9  ">
              <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="pass">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-3 col-md-3 col-xs-3 ">
              <label for="confirm">Confirm Password</label>
            </div>
            <div class="col-9 col-md-9 col-xs-9  ">
              <input type="password" class="form-control" id="confirm" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confPass">
            </div>
          </div>
        </div>
      </form>
  </div>
  
</div>




