<div class="panel panel-default small-panel">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="setting.GoBack()">
          <i class="fa fa-arrow-left"></i>Back
        </a>
      </li>
      <li (click)="onSave()">
        <a class="btn btn-primary btn-sm white">
          <i class="fa fa-plus"></i>Update
        </a>
      </li>

    </ul>
  </div>
</div>
<div class="panel panel-default small-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-3 col-xs-3 padding-col">
            <label for="PriorityColor">SMSAccountCode</label>
          </div>
          <div class=" col-md-9 col-xs-9  ">
            <input kendoTextBox placeholder="SMSAccountCode" [(ngModel)]="account.SMSAccountCode">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-3 col-xs-3 padding-col">
            <label for="PriorityColor">SMSAccountName</label>
          </div>
          <div class=" col-md-9 col-xs-9  ">
            <input kendoTextBox placeholder="SMSAccountName" [(ngModel)]="account.SMSAccountName">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-3 col-xs-3 padding-col">
            <label for="PriorityColor">AccountPass</label>
          </div>
          <div class=" col-md-9 col-xs-9  ">
            <input kendoTextBox type="password" placeholder="AccountPassword" [(ngModel)]="account.AccountPass">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-3 col-xs-3 padding-col">
            <label for="PriorityColor">AccountPrice</label>
          </div>
          <div class=" col-md-9 col-xs-9  ">
            <input kendoTextBox placeholder="AccountPrice" [(ngModel)]="account.AccountPrice">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

