<div class="panel panel-default margin-bottom-0">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white">
          <i class="fa fa-arrow-left"></i>Back
        </a>
      </li>
      <li>
        <a class="btn btn-primary btn-sm white">
          <i class="fa fa-plus"></i>Save
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default margin-bottom-0">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7 col-xs-12 ">
        <div class="row">
          <div class="col-md-7 col-xs-7">
            <div class="form-group row">
              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">Trans Type</label>
              </div>
              <div class="col-md-9 col-xs-9  ">
                <kendo-dropdownlist>
                </kendo-dropdownlist>

              </div>
            </div>
          </div>
          <div class="col-md-5 col-xs-5">
            <div class="form-group row">
              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">Date</label>
              </div>
              <div class="col-md-9 col-xs-9  ">
                <kendo-datepicker></kendo-datepicker>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-xs-7">
            <div class="form-group row">
              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">Quote NO.</label>
              </div>
              <div class="col-md-9 col-xs-9  ">
                <div class="input-group mb-2 mb-sm-0">
                  <input class="form-control ng-untouched ng-pristine k-textbox" id="inlineFormInputGroup" kendotextbox="" readonly="" type="text">
                  <div class="input-group-addon">
                    <span class="fa fa-search"></span>
                  </div>
                
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-5">
            <div class="form-group row">

              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">Currency </label>
              </div>
              <div class="col-md-9 col-xs-9  ">
                <div class="input-group mb-2 mb-sm-0">
                  <input type="text" class="form-control" placeholder="BHD">
                  <div class="input-group-addon ">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7 col-xs-7">
            <div class="form-group row">

              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">Customer </label>
              </div>

              <div class="col-md-9 col-xs-9  ">
                <div class="input-group mb-2 mb-sm-0">
                  <input class="form-control ng-untouched ng-pristine k-textbox" id="inlineFormInputGroup" kendotextbox="" readonly="" type="text">
                  <div class="input-group-addon">
                    <span class="fa fa-search"></span>
                  </div>
                  <div class="input-group-addon ">
                    <span class="fa fa-cog"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-5">
            <div class="form-group row">

              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">Batch </label>
              </div>

              <div class="col-md-9 col-xs-9  ">
                <div class="input-group mb-2 mb-sm-0">
                  <input type="text" class="form-control " placeholder="">
                  <div class="input-group-addon ">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-xs-12">
            <div class="form-group row">

              <div class="col-md-1-5 col-xs-2 padding-col">
                <label for="exampleFormControlInput3">Customer Name </label>
              </div>

              <div class="col-md-10-5 col-xs-10 ">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="A.Aziz Ahmed">
              </div>
            </div>
          </div>
          <div class="col-md-7 col-xs-7">
            <div class="form-group row">

              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">LOP No. </label>
              </div>

              <div class="col-md-9 col-xs-9  ">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="PRGIGDO30715">
              </div>
            </div>
          </div>
          <div class="col-md-5 col-xs-5">
            <div class="form-group row">

              <div class="col-md-3 col-xs-3  padding-col ">
                <label for="exampleFormControlInput3">Project </label>
              </div>

              <div class="col-md-9 col-xs-9  ">
                <div class="input-group mb-2 mb-sm-0">
                  <input type="text" class="form-control " placeholder="Project">
                  <div class="input-group-addon ">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-xs-12">
            <div class="form-group row">

              <div class="col-md-1-5 col-xs-2 padding-col">
                <label for="exampleFormControlInput3">Description </label>
              </div>

              <div class="col-md-10-5 col-xs-10 ">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-md-5 col-xs-12  padding-col ">

        <div class="col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-md-2 col-xs-4 p-l-0">
              <label for="exampleFormControlInput7">Address</label>
            </div>
            <div class="col-md-10 col-xs-8   ">
              <kendo-dropdownlist [data]="testData">
              </kendo-dropdownlist>

            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 nopadding-left">

          <div class="tabs nomargin-top">
            <!-- tabs -->
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#phone" data-toggle="tab" aria-expanded="true">
                  <i class="fa fa-phone"></i> Phone
                </a>
              </li>
              <li class="">
                <a href="#address" data-toggle="tab" aria-expanded="false">
                  <i class="fa fa-map"></i> Address
                </a>
              </li>
              <li class="">
                <a href="#email" data-toggle="tab" aria-expanded="false">
                  <i class="fa fa-envelope"></i> Mail
                </a>
              </li>
              <li class="">
                <a href="#other" data-toggle="tab" aria-expanded="false">
                  <i class="fa fa-cog"></i> Other
                </a>
              </li>
            </ul>
            <!-- tabs content -->
            <div class="tab-content">
              <div id="phone" class="tab-pane active">
                <div class="row" style="padding:5px;">
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-3 col-xs-3  padding-col">
                        <label>SMS</label>
                      </div>
                      <div class="col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="SMS" />
                          <div class="input-group-addon">
                            <span class="fa fa-phone"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class="  col-md-3 col-xs-3  padding-col ">
                        <label>Tel</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Tel" />
                          <div class="input-group-addon">
                            <span class="fa fa-phone"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-3 col-xs-3  padding-col ">
                        <label>Mobile</label>
                      </div>
                      <div class="col-md-9 col-xs-9">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="Mobile" />
                          <div class="input-group-addon">
                            <span class="fa fa-phone"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-3 col-xs-3  padding-col">
                        <label>Home Tel</label>
                      </div>
                      <div class=" col-md-9 col-xs-9">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="Home Tel" />
                          <div class="input-group-addon">
                            <span class="fa fa-phone"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="address" class="tab-pane">
                <div class="row" style="padding:5px;">
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col ">
                        <label>address 1</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Address 1" />
                          <div class="input-group-addon">
                            <span class="fa fa-home"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col ">
                        <label>address 2</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Address 2" />
                          <div class="input-group-addon">
                            <span class="fa fa-home"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col">
                        <label>address 3</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Address 3" />
                          <div class="input-group-addon">
                            <span class="fa fa-home"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col">
                        <label>address 4</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Address 4" />
                          <div class="input-group-addon">
                            <span class="fa fa-home"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="email" class="tab-pane">
                <div class="row" style="padding:5px;">
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col">
                        <label>Email 1</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Email0 1" />
                          <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col ">
                        <label>Email 2</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Email0 2" />
                          <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col ">
                        <label>Email 3</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Email0 3" />
                          <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col ">
                        <label>Email 4</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Email0 4" />
                          <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="other" class="tab-pane">
                <div class="row" style="padding:5px;">
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col">
                        <label>Phone 1</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Phone 1" />
                          <div class="input-group-addon">
                            <span class="fa fa-phone"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col">
                        <label>Phone 2 </label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Phone 2" />
                          <div class="input-group-addon">
                            <span class="fa fa-home"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col">
                        <label>Phone 3</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Phone 3" />
                          <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-12 col-sm-12">
                    <div class=" row">
                      <div class=" col-md-3 col-xs-3  padding-col">
                        <label>Phone 4</label>
                      </div>
                      <div class=" col-md-9 col-xs-9  ">
                        <div class="input-group mb-2 mb-sm-0">
                          <input type="text" class="form-control" placeholder="Phone 4" />
                          <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="table-container">
        <table class="table table-bordered table-hover" style="text-align:center;">
          <thead class="thead-inverse" style="text-align:center !important;">
            <tr>
              <th></th>
              <th>Code</th>
              <th style="width:35%;text-align:left !important;">Item</th>
              <th>QTY</th>
              <th>UOM</th>
              <th>Prise</th>
              <th>Discount</th>
              <th>Total </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th style="padding:0px !important;">
                <img src="../assets/img/product.png" style="width:50px; height:50px;">
              </th>
              <td style="text-align:left !important;">PRGIGDO30715</td>
              <td style="width:35%;text-align:left !important;">High Goals ivory Door 18X297x715</td>
              <td>100.200 </td>
              <td>PCS.</td>
              <td>100.200</td>
              <td>100.200 </td>
              <td>100.300 </td>
              <td style="padding:1px !important;">
                <button type="button" class="btn btn-outline-info mx-auto d-block" style="padding: 2px 7px;">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
              <td style="padding:1px !important;">
                <button type="button" class="btn btn-outline-danger mx-auto d-block" style="padding: 2px 7px;">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
    <div class="row">

      <div class="col-md-4 col-md-offset-8 col-xs-4">
        <div class="table-container total-table">
          <table class="table table-bordered table-hover" style="text-align:center;">

            <tr>

              <th style="width:50%; background-color:#e9ecef;text-align:left !important;">SubTotal</th>
              <td style="width:45%;">$ 83,724,87</td>

            </tr>
            <tr>
              <th style="width:50%; background-color:#e9ecef;text-align:left !important;">Trade Discount</th>
              <td style="width:45%;">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="$0.00">
              </td>
              <td>
                <span class="fa fa-arrow-right"></span>
              </td>

            </tr>
            <tr>
              <th style="width:50%; background-color:#e9ecef;text-align:left !important;">Fright</th>
              <td style="width:45%;">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="$0.00">
              </td>
              <td>
                <span class="fa fa-arrow-right"></span>
              </td>

            </tr>
            <tr>
              <th style="width:50%; background-color:#e9ecef;text-align:left !important;">Miscellaneous</th>
              <td style="width:45%;">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="$0.00">
              </td>
              <td>
                <span class="fa fa-arrow-right"></span>
              </td>

            </tr>
            <tr>
              <th style="width:50%; background-color:#e9ecef;text-align:left !important;">Tax</th>
              <td style="width:45%;">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="$0.00">
              </td>
              <td>
                <span class="fa fa-arrow-right"></span>
              </td>

            </tr>
            <tr>
              <th style="width:50%; background-color:#e9ecef;text-align:left !important;">Total</th>
              <td style="width:45%;">$ 87,198,87</td>
            </tr>


          </table>
        </div>
      </div>
    </div>

  </div>
</div>
