

  .dashboard{
    padding: 5px !important;
  }
  #middle div.panel-heading ul.options{
    margin: 0 -15px 0 0 ;
  }
  #middle div.panel-heading{
    height: 40px;
    padding: 5px;
  }
  .modal-body {
    position: relative;
    padding: 15px 10px;
}