<div class="buttons-container width-100" #aboveGrid1>

 <div class="container-fluid">
   <div class="row">
    
    <div class="col-12 col-md-6" >
            

                  <div class="input-group mb-2 mb-sm-0">

                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
                    <div class="input-group-addon"><span class="fa fa-search"></span></div>
                  </div>
                
    </div>
    <div class="col-12 col-md-3">
      <!-- <select class="form-control" id="exampleFormControlInput7">
        <option >filter </option>
      </select> -->
      <kendo-dropdownlist [data]="testData">
        </kendo-dropdownlist>
    </div>
   
  </div>

  </div>


</div>
<div class="content-container">
  <div class="container-fluid">
  <div class="row">
      <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="header-card text-center"> 
              <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
          <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5>Name of employee</h5>
             <h6>position in company</h6>
              </div>
            </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6>Info</h6>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
              <h6>Email</h6>
              <p>ahmed@codelandit.com</p>
            </li>
            <li class="list-group-item">
              <h6>Phone</h6>
              <p>002 01120569920</p>
            </li>
          </ul>
          
        </div>
            </div>
            <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
          <div class="card ">
            <div class="header-card text-center blue-bg"> 
              <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
          <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5>Name of employee</h5>
             <h6>position in company</h6>
              </div>
            </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6>Info</h6>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
              <h6>Email</h6>
              <p>ahmed@codelandit.com</p>
            </li>
            <li class="list-group-item">
              <h6>Phone</h6>
              <p>002 01120569920</p>
            </li>
          </ul>
          
        </div>
            </div>
            <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="header-card text-center"> 
              <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
          <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5>Name of employee</h5>
             <h6>position in company</h6>
              </div>
            </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6>Info</h6>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
              <h6>Email</h6>
              <p>ahmed@codelandit.com</p>
            </li>
            <li class="list-group-item">
              <h6>Phone</h6>
              <p>002 01120569920</p>
            </li>
          </ul>
          
        </div>
            </div>
            <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="header-card text-center"> 
              <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
          <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5>Name of employee</h5>
             <h6>position in company</h6>
              </div>
            </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6>Info</h6>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
              <h6>Email</h6>
              <p>ahmed@codelandit.com</p>
            </li>
            <li class="list-group-item">
              <h6>Phone</h6>
              <p>002 01120569920</p>
            </li>
          </ul>
          
        </div>
            </div>
            <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
          <div class="card last-card">
            <div class="header-card text-center"> 
              <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
          <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5>Name of employee</h5>
             <h6>position in company</h6>
              </div>
            </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6>Info</h6>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
              <h6>Email</h6>
              <p>ahmed@codelandit.com</p>
            </li>
            <li class="list-group-item">
              <h6>Phone</h6>
              <p>002 01120569920</p>
            </li>
          </ul>
          
        </div>
        </div>
        <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="header-card text-center"> 
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
            <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5>Name of employee</h5>
               <h6>position in company</h6>
                </div>
              </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6>Info</h6>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </li>
              <li class="list-group-item">
                <h6>Email</h6>
                <p>ahmed@codelandit.com</p>
              </li>
              <li class="list-group-item">
                <h6>Phone</h6>
                <p>002 01120569920</p>
              </li>
            </ul>
            
          </div>
              </div>
              <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
            <div class="card ">
              <div class="header-card text-center blue-bg"> 
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
            <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5>Name of employee</h5>
               <h6>position in company</h6>
                </div>
              </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6>Info</h6>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </li>
              <li class="list-group-item">
                <h6>Email</h6>
                <p>ahmed@codelandit.com</p>
              </li>
              <li class="list-group-item">
                <h6>Phone</h6>
                <p>002 01120569920</p>
              </li>
            </ul>
            
          </div>
              </div>
              <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="header-card text-center"> 
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
            <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5>Name of employee</h5>
               <h6>position in company</h6>
                </div>
              </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6>Info</h6>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </li>
              <li class="list-group-item">
                <h6>Email</h6>
                <p>ahmed@codelandit.com</p>
              </li>
              <li class="list-group-item">
                <h6>Phone</h6>
                <p>002 01120569920</p>
              </li>
            </ul>
            
          </div>
              </div>
              <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="header-card text-center"> 
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
            <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5>Name of employee</h5>
               <h6>position in company</h6>
                </div>
              </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6>Info</h6>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </li>
              <li class="list-group-item">
                <h6>Email</h6>
                <p>ahmed@codelandit.com</p>
              </li>
              <li class="list-group-item">
                <h6>Phone</h6>
                <p>002 01120569920</p>
              </li>
            </ul>
            
          </div>
              </div>
              <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
            <div class="card last-card">
              <div class="header-card text-center"> 
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
            <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5>Name of employee</h5>
               <h6>position in company</h6>
                </div>
              </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6>Info</h6>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </li>
              <li class="list-group-item">
                <h6>Email</h6>
                <p>ahmed@codelandit.com</p>
              </li>
              <li class="list-group-item">
                <h6>Phone</h6>
                <p>002 01120569920</p>
              </li>
            </ul>
            
          </div>
          </div>
          <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
              <div class="card">
                <div class="header-card text-center"> 
                  <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
              <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h5>Name of employee</h5>
                 <h6>position in company</h6>
                  </div>
                </div>
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6>Info</h6>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </li>
                <li class="list-group-item">
                  <h6>Email</h6>
                  <p>ahmed@codelandit.com</p>
                </li>
                <li class="list-group-item">
                  <h6>Phone</h6>
                  <p>002 01120569920</p>
                </li>
              </ul>
              
            </div>
                </div>
                <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
              <div class="card ">
                <div class="header-card text-center blue-bg"> 
                  <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
              <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h5>Name of employee</h5>
                 <h6>position in company</h6>
                  </div>
                </div>
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6>Info</h6>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </li>
                <li class="list-group-item">
                  <h6>Email</h6>
                  <p>ahmed@codelandit.com</p>
                </li>
                <li class="list-group-item">
                  <h6>Phone</h6>
                  <p>002 01120569920</p>
                </li>
              </ul>
              
            </div>
                </div>
                <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
              <div class="card">
                <div class="header-card text-center"> 
                  <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
              <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h5>Name of employee</h5>
                 <h6>position in company</h6>
                  </div>
                </div>
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6>Info</h6>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </li>
                <li class="list-group-item">
                  <h6>Email</h6>
                  <p>ahmed@codelandit.com</p>
                </li>
                <li class="list-group-item">
                  <h6>Phone</h6>
                  <p>002 01120569920</p>
                </li>
              </ul>
              
            </div>
                </div>
                <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
              <div class="card">
                <div class="header-card text-center"> 
                  <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
              <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h5>Name of employee</h5>
                 <h6>position in company</h6>
                  </div>
                </div>
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6>Info</h6>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </li>
                <li class="list-group-item">
                  <h6>Email</h6>
                  <p>ahmed@codelandit.com</p>
                </li>
                <li class="list-group-item">
                  <h6>Phone</h6>
                  <p>002 01120569920</p>
                </li>
              </ul>
              
            </div>
                </div>
                <div class="col-12 col-lg-5th col-md-4 col-sm-6 col-xs-12">
              <div class="card last-card">
                <div class="header-card text-center"> 
                  <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
              <img class="card-img-top" src="../assets/img/avatar.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h5>Name of employee</h5>
                 <h6>position in company</h6>
                  </div>
                </div>
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6>Info</h6>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </li>
                <li class="list-group-item">
                  <h6>Email</h6>
                  <p>ahmed@codelandit.com</p>
                </li>
                <li class="list-group-item">
                  <h6>Phone</h6>
                  <p>002 01120569920</p>
                </li>
              </ul>
              
            </div></div>
  </div>
  </div>
</div>

