<div class="box default">
  <div class="box-title">
    <div class="row">
      <div class="col-md-6">
        <h4>Cases: </h4>
        <h4>debtors: 0</h4>
      </div>
      <div class="col-md-6">
        <h4>PTP: 0</h4>
        <h4>Rework: 000</h4>
      </div>
    </div>
    <i class="fa fa-users"></i>
  </div>
  <div class="box-body text-center">
    <span class="sparkline">
      <div class="row">
        <div class="col-md-6">
          Past Due: 0
        </div>
        <div class="col-md-6">
          Action Count: 0
        </div>
      </div>
    </span>
  </div>
</div>
