<div class="panel panel-default small-panel">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="setting.GoBack()">
          <i class="fa fa-arrow-left"></i>Back
        </a>
      </li>
      <li (click)="save()">
        <a class="btn btn-primary btn-sm white">
          <i class="fa fa-save"></i>Save
        </a>
      </li>
      <li (click)="delete()">
        <a class="btn btn-danger btn-sm white">
          <i class="fa fa-remove"></i>delete
        </a>
      </li>


    </ul>
  </div>
</div>
<div class="panel panel-default small-panel">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-8 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-4 col-xs-3 padding-col">
            <label>NationalityID</label>
          </div>
          <div class=" col-md-8 col-xs-9  ">
            <input kendoTextBox placeholder="NationalityID " [(ngModel)]="sys00030.NationalityID">
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-4 col-xs-3 padding-col">
            <label>NationalityName</label>
          </div>
          <div class=" col-md-8 col-xs-9  ">
            <input kendoTextBox placeholder="NationalityName " [(ngModel)]="sys00030.NationalityName">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>