<!--Bulk Actions !-->
<!-- <div class="buttons-container width-100">
  <button type="button" class="btn btn-dark"><i class="fa fa-arrow-left"></i>Back</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-undo"></i>refresh</button>
  <button type="button" class="btn btn-secondary"><i class="fa fa-print"></i>print</button>
  <button type="button" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
  <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i>Cancel</button>
</div> -->
<!-- <div class="content-container pd-10-15 width-100">

  <form> -->

<!-- <div class="container-fluid">
      <h3>Bulk Actions</h3>
      <div class="row">
        <div class="col-12 col-md-6 col-sm-12">
          <span>Transiaction Number</span> : <span>123456</span>
        </div>
        <div class="col-12 col-md-6 col-sm-12">


          <div class="form-check">
            <label> Upload by case ref</label>
            <label class="form-check-label checkb">
              <input class="form-check-input checkbox-o" type="checkbox">
              <span></span>
            </label>

          </div>



        </div>
        <div class="col-12 col-md-6 col-sm-12">
          <div class="row">
            <div class="fancy-file-upload offset-md-2 col-md-10  ">-->
<!--<i class="fa fa-upload"></i>-->
<!--<input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);">-->
<!--<input type="text" class="form-control" placeholder="no file selected" readonly="">-->
<!--<span class="button">Choose File</span>-->
<!-- <kendo-upload [saveUrl]="uploadSaveUrl" [withCredentials]="true" (success)="completeEventHandler($event)" (error)="errHandler($event)">
              </kendo-upload>

            </div>

          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-sm-12">
          <div class="form-group row">
            <div class="col-3 col-md-2 col-xs-3">
              <label for="exampleFormControlInput7">Data Source</label>
            </div>
            <div class="col-9 col-md-10 col-xs-9  "> -->
<!--<select class="form-control" id="exampleFormControlInput7">
              <option>Data Source </option>
              </select>-->
<!-- <kendo-dropdownlist (valueChange)="test($event)" [data]="dataSourcesTmp" textField="TrxTypeName" valueField="TRXTypeID">
              </kendo-dropdownlist>

            </div>
          </div>
        </div>
      </div>
 -->


<!--
      <div class="container">
        <hr>
        <div class="row">
          <div class="table-container">
            <table class="table table-bordered table-hover">
              <thead class="thead-inverse">
                <tr>
                  <th>Field</th>
                  <th class="width-50">Map Field</th>
                  <th> </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Case ref</th>
                  <td><select class="form-control" id="exampleFormControlInput7">
                  <option>Case ref</option>
                </select>
                  </td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div> -->
<!-- </div>



  </form>
</div> -->
<!-- Bulk Actions !-->

<div class="panel panel-default">
  <div class="panel-heading">


    <!-- right options -->
    <ul class="options pull-right list-inline">
      <li>
        <a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a>
      </li>
      <li>
        <a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen">
                                  <i class="fa fa-expand"></i>
                                </a>
      </li>
    </ul>
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a href="#" class="btn btn-default btn-sm white">
                                  <i class="fa fa-arrow-left"></i>Back</a>
      </li>
      <li>
        <a href="#" class="btn btn-default btn-sm white">
                <i class="fa fa-undo"></i>refresh</a>
      </li>
      <li>
        <a href="#" class="btn btn-default btn-sm white">
                  <i class="fa fa-print"></i>print</a>
      </li>
      <li>
        <a href="#" class="btn btn-danger btn-sm white" >
                      <i class="fa fa-arrow-left"></i>Cancel</a>
      </li>
      <li>
        <a href="#" class="btn btn-success btn-sm white">
                                  <i class="fa fa-plus"></i>save</a>
      </li>


    </ul>

    <!-- /right options -->
  </div>
  <div class="panel-heading">
    <span class="elipsis">
      <!-- panel title -->
      <strong>Bulk Actions</strong>
    </span>

  </div>

  <div class="panel-body">
    <form>

      <div class="row">
        <div class="col-12 col-md-6 col-sm-12">
          <span>Transiaction Number</span> : <span>123456</span>
        </div>
        <div class="col-12 col-md-6 col-sm-12">


          <div class="form-check">
            <label> Upload by case ref</label>
            <label class="form-check-label checkb">
                          <input class="form-check-input checkbox-o" type="checkbox">
                          <span></span>
                        </label>

          </div>



        </div>
        <div class="col-12 col-md-6 col-sm-12">
          <div class="row">
            <div class="fancy-file-upload offset-md-2 col-md-10  ">
              <!--<i class="fa fa-upload"></i>-->
              <!--<input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);">-->
              <!--<input type="text" class="form-control" placeholder="no file selected" readonly="">-->
              <!--<span class="button">Choose File</span>-->
              <kendo-upload [saveUrl]="uploadSaveUrl" [withCredentials]="true" (success)="completeEventHandler($event)" (error)="errHandler($event)">
              </kendo-upload>

            </div>

          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-sm-12">
          <div class="form-group row">
            <div class="col-3 col-md-3 col-xs-3">
              <label for="exampleFormControlInput7">Data Source</label>
            </div>
            <div class="col-9 col-md-9 col-xs-9 padding-col  ">
              <!--<select class="form-control" id="exampleFormControlInput7">-->
              <!--<option>Data Source </option>-->
              <!--</select>-->
              <kendo-dropdownlist (valueChange)="test($event)" [data]="dataSourcesTmp" textField="TrxTypeName" valueField="TRXTypeID">
              </kendo-dropdownlist>

            </div>
          </div>
        </div>
      </div>




      <div class="container-fluid">
        <hr>
        <div class="row">
          <div class="table-container">
            <table class="table table-bordered table-hover">
              <thead class="thead-inverse">
                <tr>
                  <th>Field</th>
                  <th style="width:200px;">Map Field</th>
                  <th> </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Case ref</th>
                  <td><select class="form-control" id="exampleFormControlInput7">
                              <option>Case ref</option>
                            </select>
                  </td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>




    </form>
  </div>
</div>
