
app-createuser {
  .panel {
    width: 75%;
    margin: auto;
  }

  .img-profile-edit {
    width: 70% !important;
  }

  .checkbox {
    padding-left: 15px !important;
    margin: 0 !important;
  }
  .padding-col{
    label{
      line-height: 30px;
    }
  }
}
