<!-- <div class="buttons-container">
    <button type="button" class="btn btn-dark"><i class="fa fa-arrow-left"></i>Back</button>
    <button type="button" class="btn btn-danger" (click)="goBack()"><i class="fa fa-arrow-left"></i>Cancel</button>
    <button type="button" class="btn btn-success" (click)="uploadData()"><i class="fa fa-check"></i> Save</button>
</div>
<div class="content-container">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-12 col-sm-12">
                <span>Transiaction Number</span> : <span>{{ TransiactionNumber }}</span>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-check">
                    <label> Upload by case ref</label>
                    <label class="form-check-label checkb">
                        <input class="form-check-input checkbox-o"
                               type="checkbox"
                               [(ngModel)]="isChecked" name="isChecked">
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <app-client-lookup *ngIf="!isChecked" (getValue)="getValue($event)"></app-client-lookup>
            </div>
            <div class="clearfix"></div>
            <div class=" col-md-6 col-sm-12">
                <div class="row">
                    <div class="fancy-file-upload offset-md-3 col-md-9  ">
                        <kendo-upload [saveUrl]="uploadSaveUrl" [withCredentials]="false" (success)="successEventHandler($event)" (error)="errHandler($event)">
                        </kendo-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-6 col-sm-12">
                <div class="form-group row">
                    <div class="col-md-3 col-xs-3">
                        <label for="exampleFormControlInput7">Data Source</label>
                    </div>
                    <div class="col-md-9 col-xs-9  ">
                        <kendo-dropdownlist [data]="dataSourcesTmp" textField="TrxTypeName" valueField="TRXTypeID" [(ngModel)]="SelectedDataSource"
                            [valuePrimitive]="true" (valueChange)="dataSrcChange($event)">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div *ngIf="CaseFieldList.length > 0" class="col-md-6">
                    <div *ngFor="let CaseField of CaseFieldList; let i = index">
                        <div *ngIf="i % 2 == 0">
                            <div class="form-group row">
                                <div class="col-md-3 col-xs-3">
                                    <label>{{ CaseField.FieldDisplay }}</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-check-input checkbox-o" type="checkbox" [(ngModel)]="CaseField.isSelected">
                                </div>
                                <div class="col-md-7">
                                    <kendo-dropdownlist [data]="ExcelColumns" [disabled]="!CaseField.isSelected" [textField]="'ColumnName'" [valueField]="'Index'"
                                        [(ngModel)]="CaseField.FieldValue" [valuePrimitive]="true">
                                    </kendo-dropdownlist>
                                </div>
                                <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 2">
                                    <div class="form-group row">
                                        <div class="">
                                            <kendo-datepicker [value]="CaseField.FieldDateValue"></kendo-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 3">
                                    <div class="form-group row">
                                        <div>
                                            <input type="text" class="form-control" [(ngModel)]="CaseField.FixedValue" placeholder="{{ CaseField.FieldDisplay }}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="CaseFieldList.length > 0" class="col-md-6">
                    <div *ngFor="let CaseField of CaseFieldList; let i= index">
                        <div *ngIf="i % 2 != 0">
                            <div class="form-group row">
                                <div class="col-md-3 col-xs-3">
                                    <label>{{ CaseField.FieldDisplay }}</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-check-input checkbox-o" type="checkbox" [(ngModel)]="CaseField.isSelected">
                                </div>
                                <div class="col-md-7">
                                    <kendo-dropdownlist [data]="ExcelColumns" [disabled]="!CaseField.isSelected" [textField]="'ColumnName'" [valueField]="'Index'"
                                        [(ngModel)]="CaseField.FieldValue" [valuePrimitive]="true">
                                    </kendo-dropdownlist>
                                </div>
                                <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 2">
                                    <div class="form-group row">
                                        <div>
                                            <kendo-datepicker [value]="CaseField.FieldDateValue"></kendo-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 3">
                                    <div class="form-group row">
                                        <div>
                                            <input type="text" class="form-control" [(ngModel)]="CaseField.FixedValue" placeholder="{{ CaseField.FieldDisplay }}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div> -->

<div class="panel panel-default">
    <div class="panel-heading">


        <!-- right options -->
        <ul class="options pull-right list-inline">
            <li>
                <a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a>
            </li>
            <li>
                <a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen">
                                        <i class="fa fa-expand"></i>
                                      </a>
            </li>
        </ul>
        <ul class="options pull-left relative list-unstyled">
            <li>
                <a href="#" class="btn btn-default btn-sm white" >
                                        <i class="fa fa-arrow-left"></i>Back</a>
            </li>
            <li>
                <a href="#" class="btn btn-danger btn-sm white" >
                            <i class="fa fa-arrow-left"></i>Cancel</a>
            </li>
            <li>
                <a href="#" class="btn btn-success btn-sm white">
                                        <i class="fa fa-plus"></i>save</a>
            </li>


        </ul>
        <!-- /right options -->
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-12 col-sm-12">
                    <span>Transiaction Number</span> : <span>{{ TransiactionNumber }}</span>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-check">
                        <label> Upload by case ref</label>
                        <label class="form-check-label checkb">
                                        <input class="form-check-input checkbox-o"
                                               type="checkbox"
                                               [(ngModel)]="isChecked" name="isChecked">
                                        <span></span>
                                    </label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <app-client-lookup *ngIf="!isChecked" (getValue)="getValue($event)"></app-client-lookup>
                </div>
                <div class="clearfix"></div>
                <div class=" col-md-6 col-sm-12">
                    <div class="row">
                        <div class="fancy-file-upload offset-md-3 col-md-9  ">
                            <kendo-upload [saveUrl]="uploadSaveUrl" [withCredentials]="false" (success)="successEventHandler($event)" (error)="errHandler($event)">
                            </kendo-upload>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-6 col-sm-12">
                    <div class="form-group row">
                        <div class="col-md-3 col-xs-3">
                            <label for="exampleFormControlInput7">Data Source</label>
                        </div>
                        <div class="col-md-9 col-xs-9  ">
                            <kendo-dropdownlist [data]="dataSourcesTmp" textField="TrxTypeName" valueField="TRXTypeID" [(ngModel)]="SelectedDataSource"
                                [valuePrimitive]="true" (valueChange)="dataSrcChange($event)">
                            </kendo-dropdownlist>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div *ngIf="CaseFieldList.length > 0" class="col-md-6">
                        <div *ngFor="let CaseField of CaseFieldList; let i = index">
                            <div *ngIf="i % 2 == 0">
                                <div class="form-group row">
                                    <div class="col-md-3 col-xs-3">
                                        <label>{{ CaseField.FieldDisplay }}</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-check-input checkbox-o" type="checkbox" [(ngModel)]="CaseField.isSelected">
                                    </div>
                                    <div class="col-md-7">
                                        <kendo-dropdownlist [data]="ExcelColumns" [disabled]="!CaseField.isSelected" [textField]="'ColumnName'" [valueField]="'Index'"
                                            [(ngModel)]="CaseField.FieldValue" [valuePrimitive]="true">
                                        </kendo-dropdownlist>
                                    </div>
                                    <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 2">
                                        <div class="form-group row">
                                            <div class="">
                                                <kendo-datepicker [value]="CaseField.FieldDateValue"></kendo-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 3">
                                        <div class="form-group row">
                                            <div>
                                                <input type="text" class="form-control" [(ngModel)]="CaseField.FixedValue" placeholder="{{ CaseField.FieldDisplay }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="CaseFieldList.length > 0" class="col-md-6">
                        <div *ngFor="let CaseField of CaseFieldList; let i= index">
                            <div *ngIf="i % 2 != 0">
                                <div class="form-group row">
                                    <div class="col-md-3 col-xs-3">
                                        <label>{{ CaseField.FieldDisplay }}</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-check-input checkbox-o" type="checkbox" [(ngModel)]="CaseField.isSelected">
                                    </div>
                                    <div class="col-md-7">
                                        <kendo-dropdownlist [data]="ExcelColumns" [disabled]="!CaseField.isSelected" [textField]="'ColumnName'" [valueField]="'Index'"
                                            [(ngModel)]="CaseField.FieldValue" [valuePrimitive]="true">
                                        </kendo-dropdownlist>
                                    </div>
                                    <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 2">
                                        <div class="form-group row">
                                            <div>
                                                <kendo-datepicker [value]="CaseField.FieldDateValue"></kendo-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="CaseField.FieldValue === 'Fixed' && CaseField.FieldTypeID == 3">
                                        <div class="form-group row">
                                            <div>
                                                <input type="text" class="form-control" [(ngModel)]="CaseField.FixedValue" placeholder="{{ CaseField.FieldDisplay }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
