<section class="sec-form">

     <div class="row">

        <div class="col-lg-3 col-md-2 col-xs-12"></div>

        <div class="col-lg-6 col-sm-8 col-xs-12" >
                <div class="recveraccount">
            <div class="headl">
                    <h2 class="wow bounceInDown">Recover Account</h2>
                </div>
                <form action="#" method="post">


            <label class="recover" style="animation-duration:1.1s">

                <i class="fa fa-envelope envelope"></i>
                <input type="email" name="email" placeholder=" Enter Your Email " class="email">

                </label>



            <button type="submit" class="submit wow fadeInUp" style="animation-duration: 1.5s">
        <a> Send Code</a>
            </button>

                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>

    </div>

</section>
