<div class="panel  panel-default small-panel">

  <div class="panel-heading">
    <span class="elipsis">
      <strong>Registration Key</strong>
    </span>
    <!-- right options -->
    <ul class="options pull-right list-inline">

      <li>
        <a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a>
      </li>
      <li>
        <a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"
          id="fullscreen-fin">
          <i class="fa fa-expand"></i>
        </a>
      </li>
    </ul>
    <!-- /right options -->
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-4 padding-col">
            <label>CompanyName</label>
          </div>
          <div class="col-md-8 padding-col">
              <input  kendotextbox class="k-textbox" value="Al Nabaa Commercial Services" placeholder="CompanyName" readonly>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-4 padding-col">
            <label>UserCount</label>
          </div>
          <div class="col-md-8 padding-col">
              <input  kendotextbox class="k-textbox" value="50" placeholder="UserCount" readonly>
          </div>
        </div>
      </div>
      <div class="col-md-12">
          <div class="table-license">
              <table class="table table-hover table-bordered nomargin text-center">
                <thead>
                  <tr>
                    <th>ID Users</th>
                    <th>Key</th>
               
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>50</td>
                    <td>EEC-56E-D3C-B36-43B-FB0</td>
                   
                  </tr>
                  <tr>
                    <td>35</td>
                    <td>EEC-56E-D3C-B36-43B-FB0</td>
                   
                  </tr>
                  <tr>
                      <td>50</td>
                      <td>EEC-56E-D3C-B36-43B-FB0</td>
                     
                    </tr>
                    <tr>
                      <td>35</td>
                      <td>EEC-56E-D3C-B36-43B-FB0</td>
                     
                    </tr>
                  </tbody>
              </table>
            </div>
      </div>
    </div>

  </div>
</div>
