<div id="panel-3" class="panel panel-default">
  <div class="panel-heading">
    <span class="title elipsis">
      <strong>RECENT ACTIVITIES</strong>
      <!-- panel title -->
    </span>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled list-hover slimscroll height-300" data-slimscroll-visible="true">
      <li>
        <span class="label label-danger">
          <i class="fa fa-bell-o size-15"></i>
        </span>
        Urgent task: add new theme to fastAdmin
      </li>
      <li>
        <span class="label label-success">
          <i class="fa fa-user size-15"></i>
        </span>
        <a href="#">5 pending memership</a>
      </li>
      <li>
        <span class="label label-warning">
          <i class="fa fa-comment size-15"></i>
        </span>
        <a href="#">24 New comments that needs your approval</a>
      </li>
      <li>
        <span class="label label-default">
          <i class="fa fa-briefcase size-15"></i>
        </span>
        No work for tomorrow &ndash; everyone is free!
      </li>
      <li>
        <span class="label label-info">
          <i class="fa fa-shopping-cart size-15"></i>
        </span>
        You have new 3 orders unprocessed
      </li>
      <li>
        <span class="label label-success">
          <i class="fa fa-bar-chart-o size-15"></i>
        </span>
        Generate the finance report for the previous year
      </li>
      <li>
        <span class="label label-success bg-black">
          <i class="fa fa-cogs size-15"></i>
        </span>
        CentOS server need a kernel update
      </li>
      <li>
        <span class="label label-warning">
          <i class="fa fa-file-excel-o size-15"></i>
        </span>
        <a href="#">XCel finance report for 2014 released</a>
      </li>
      <li>
        <span class="label label-danger">
          <i class="fa fa-bell-o size-15"></i>
        </span>
        Power grid is off. Moving to solar backup.
      </li>
      <li>
        <span class="label label-warning">
          <i class="fa fa-comment size-15"></i>
        </span>
        <a href="#">24 New comments that need your approval</a>
      </li>
      <li>
        <span class="label label-default">
          <i class="fa fa-briefcase size-15"></i>
        </span>
        No work for tomorrow &ndash; everyone is free!
      </li>
      <li>
        <span class="label label-info">
          <i class="fa fa-shopping-cart size-15"></i>
        </span>
        You have new 3 orders unprocessed
      </li>
      <li>
        <span class="label label-success">
          <i class="fa fa-bar-chart-o size-15"></i>
        </span>
        Generate the finance report for the previous year
      </li>
      <li>
        <span class="label label-success bg-black">
          <i class="fa fa-cogs size-15"></i>
        </span>
        CentOS server need a kernel update
      </li>
      <li>
        <span class="label label-warning">
          <i class="fa fa-file-excel-o size-15"></i>
        </span>
        <a href="#">XCel finance report for 2014 released</a>
      </li>
      <li>
        <span class="label label-danger">
          <i class="fa fa-bell-o size-15"></i>
        </span>
        Power grid is off. Moving to solar backup.
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    <a href="#">
      <i class="fa fa-arrow-right text-muted"></i> View Activities Archive
    </a>
  </div>
</div>
