<div class="panel panel-default small-panel">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="setting.GoBack()">
          <i class="fa fa-arrow-left"></i>Back
        </a>
      </li>
      <li (click)="onSave()">
        <a class="btn btn-primary btn-sm white">
          <i class="fa fa-plus"></i>Add
        </a>
      </li>

    </ul>
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <div class="form-group row">
    <div class=" col-md-3 col-xs-3 padding-col">
      <label for="PriorityColor">Sale Person Type Name</label>
    </div>
    <div class=" col-md-9 col-xs-9  ">
      <input id="SalePersonTypeName" type="text" class="form-control" placeholder="Sale Person Type Name" [(ngModel)]="SOP00008.SalePersonTypeName">
    </div>
  </div>
</div>

