<div class="panel panel-default small-panel">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="Setting.GoBack()">
          <i class="fa fa-arrow-left"></i>Back
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default small-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>Company</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="CompanyList" (valueChange)="CompanyID_Changed()" valueField="CompanyID" textField="CompanyName"
              [valuePrimitive]="true" [(ngModel)]="CompanyID">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>Module</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="ModuleList" (valueChange)="ModuleID_Changed()" valueField="ModuleID" textField="ModuleName"
                                [valuePrimitive]="true"
              [(ngModel)]="ModuleID">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-2 padding-col">
                <label>Screen</label>
              </div>
              <div class="col-md-10">
        <kendo-dropdownlist [data]="WindowSourceList" (valueChange)="WindowSource_Changed()" valueField="WindowSource" textField="WindowName"
          [valuePrimitive]="true" [(ngModel)]="WindowSource">
        </kendo-dropdownlist>
        </div>
        </div>
      </div>
     
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-2 padding-col">
                <label>Data source</label>
              </div>
              <div class="col-md-10">
        <kendo-dropdownlist (valueChange)="sources_Change()" [data]="sources" [(ngModel)]="SelectedTRXType" textField="TrxTypeName"
          valueField="TRXTypeID">
        </kendo-dropdownlist>
        </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-2 padding-col">
                <label>View</label>
              </div>
              <div class="col-md-10">
        <kendo-dropdownlist [data]="viewsList" (valueChange)="View_Change()" valueField="ViewID" textField="ViewName" [(ngModel)]="selectedView">
        </kendo-dropdownlist>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="panel panel-default small-panel" *ngIf="RoleList.length>0">
  <div class="panel-body ">
    <div class="row ">
      <div class="table-container">
        <table class="table table-bordered table-responsive">
          <thead class="thead-inverse ">
            <tr>
              <th>
              </th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of RoleList">
              <td>
                <input type="checkbox" [checked]="role.checked" [(ngModel)]="role.checked" (change)="ApplyRole(role)">
              </td>
              <td>{{role.RoleName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
