<div class="panel panel-default">
  <div class="panel-heading">
    <!-- right options -->
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="Setting.GoBack()">
          <i class="fa fa-arrow-left"></i>Back</a>
      </li>
    </ul>
    <!-- /right options -->
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>Company</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="CompanyList" (valueChange)="CompanyID_Changed()" valueField="CompanyID" textField="CompanyName"
              [valuePrimitive]="true" [(ngModel)]="CompanyID">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>Module</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="ModuleList" (valueChange)="ModuleID_Changed()" valueField="ModuleID" textField="ModuleName" [valuePrimitive]="true"
              [(ngModel)]="ModuleID">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>screen</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="WindowSourceList" (valueChange)="WindowSource_Changed()" valueField="WindowSource" textField="WindowName"
              [valuePrimitive]="true" [(ngModel)]="WindowSource">
            </kendo-dropdownlist>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <!--<kendo-dropdownlist [data]="ModuleList" (valueChange)="ModuleID_Changed()"
                            valueField="ModuleID"
                            textField="ModuleName"
                            [valuePrimitive]="true"
                            [(ngModel)]="selectedCompany">
        </kendo-dropdownlist>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>Data source</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist (valueChange)="sources_Change()" [data]="sources" [(ngModel)]="SelectedTRXType" textField="TrxTypeName"
              valueField="TRXTypeID">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>View</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="viewsList" (valueChange)="getViewColumns()" valueField="ViewID" textField="ViewName" [(ngModel)]="selectedView">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" *ngIf="sourceColumns.length>0" [class.disabledDiv]="selectedView == null">
  <div class="panel-body ">
    <div class="row ">
      <div class="table-container">
        <table class="table table-bordered table-responsive">
          <thead class="thead-inverse ">
            <tr>
              <th scope="col">
                <i class="fa fa-check"></i>
              </th>
              <th scope="col">Active</th>
              <th scope="col">Filterable</th>
              <th scope="col">Printable</th>
              <th scope="col">Sortable</th>
              <th scope="col">Lockable</th>
              <th scope="col">locked</th>
              <th scope="col">Width</th>
              <th scope="col">Display</th>
              <th scope="col">save</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let col of sourceColumns">
              <td>
                <label class="checkbox">
                  <input type="checkbox" [checked]="col.checked" (change)="addOrDelete(col)">
                  <i></i>
                </label>
              </td>
              <td>
                <kendo-switch [(ngModel)]="col.IsActive "></kendo-switch>
              </td>
              <td>
                <kendo-switch [(ngModel)]="col.IsFilterable "></kendo-switch>
              </td>
              <td>
                <kendo-switch [(ngModel)]="col.IsPrintable "></kendo-switch>
              </td>
              <td>
                <kendo-switch [(ngModel)]="col.IsSortable "></kendo-switch>
              </td>
              <td>
                <kendo-switch [(ngModel)]="col.IsLockable "></kendo-switch>
              </td>
              <td>
                <kendo-switch [(ngModel)]="col.Islocked "></kendo-switch>
              </td>
              <td>
                <input type="number" class="form-control " placeholder="Field Width " [(ngModel)]="col.FieldWidth">
              </td>
              <td>
                <input type="text" class="form-control " placeholder="Field Display " [(ngModel)]="col.FieldDisplay">
              </td>
              <td>
                <button kendoButton (click)="SaveData(col)">Save</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
