<div class="panel panel-default small-panel">
  <div class="panel-heading">
    <!-- right options -->
    <ul class="options pull-left relative list-unstyled">
      <li (click)="Setting.GoBack()">
        <a  class="btn btn-default btn-sm white">
          <i class="fa fa-arrow-left"></i>Back</a>
      </li>
      <li>
        <a (click)="save()" class="btn btn-success btn-sm white">
          <i class="fa fa-plus"></i>Save</a>
      </li>
    </ul>
    <!-- /right options -->
  </div>
</div>
<div class="panel panel-default small-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>Company</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="CompanyList" (valueChange)="CompanyID_Changed()" valueField="CompanyID" textField="CompanyName"
                                [valuePrimitive]="true" [(ngModel)]="CompanyID">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>Module</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="ModuleList" (valueChange)="ModuleID_Changed()" valueField="ModuleID" textField="ModuleName" [valuePrimitive]="true"
                                [(ngModel)]="ModuleID">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 padding-col">
            <label>screen</label>
          </div>
          <div class="col-md-10">
            <kendo-dropdownlist [data]="WindowSourceList" (valueChange)="WindowSource_Changed()" valueField="WindowSource" textField="WindowName"
                                [valuePrimitive]="true" [(ngModel)]="WindowSource">
            </kendo-dropdownlist>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <!--<kendo-dropdownlist [data]="ModuleList" (valueChange)="ModuleID_Changed()"
                            valueField="ModuleID"
                            textField="ModuleName"
                            [valuePrimitive]="true"
                            [(ngModel)]="selectedCompany">
        </kendo-dropdownlist>-->
      </div>
    </div>
    <div class="row">
      <div class=" col-md-6 col-sm-12">
        <div class="form-group row">
          <div class=" col-md-2 col-xs-12 padding-col">
            <label>Data Source</label>
          </div>

          <div class=" col-md-10 col-xs-12">
            <kendo-dropdownlist (valueChange)="getColumns($event)" [data]="sources" textField="TrxTypeName" valueField="TRXTypeID" [valuePrimitive]="true">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="columns" class="panel panel-default small-panel">
  <div class="panel-body">
    <app-global-order [columns]="columns"></app-global-order>
  </div>
</div>
