<div class="panel panel-default small-panel">
  <div class="panel-heading">
    <ul class="options pull-left relative list-unstyled">
      <li>
        <a class="btn btn-default btn-sm white" (click)="Setting.GoBack()">
          <i class="fa fa-arrow-left"></i>Back
        </a>
      </li>
      <li>
        <a class="btn btn-primary btn-sm white" (click)="change()">
          <i class="fa fa-plus"></i> Save
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default small-panel">

  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 ">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
            <div class="form-group row">
              <div class="col-md-2 col-xs-3 padding-col">
                <label for="username">User Name</label>
              </div>
              <div class="col-md-10 col-xs-9">
                <input type="text" class="form-control" id="username" placeholder="User Name" [(ngModel)]="UserName">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-sm-12">
            <div class="form-group row">
              <div class="col-md-2 col-xs-3 padding-col">
                <label for="email">Old password</label>
              </div>
              <div class="col-md-10 col-xs-9">
                <input type="password" class="form-control" id="email" placeholder="Old password" [(ngModel)]="OldPassword">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-sm-12">
            <div class="form-group row">
              <div class="col-md-2 col-xs-3 padding-col">
                <label for="email">New Password</label>
              </div>
              <div class="col-md-10 col-xs-9">
                <input type="password" class="form-control" id="email" placeholder="New Password" [(ngModel)]="NewPassword">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
