<ng-template #extra>
    <button kendoButton (click)="showMessage()">Case</button>
    <button kendoButton (click)="showMessage()">Modification</button>
    <button kendoButton (click)="showMessage()">Assignment</button>
    <button kendoButton (click)="showMessage()">Delete </button>
    <button kendoButton (click)="showMessage()">Customer Information </button>
    <button kendoButton (click)="showMessage()">Customer Information </button>
</ng-template>

<global-grid [extraButtons]="extra"></global-grid>

